header .logo {
  font-size: 20px;
}

.maintitle, .subtitle {
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .headerlinktext {
    display: none;
  }

  header .logo {
    font-size: 19px;
  }
}
